.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .header {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }
  
  .toggleButton {
    width: 35px;
    height: 35px;
    position: absolute;
    left: 15px;
    top: 15px;
    border-radius: 55px;
    background-color: #ecebeb;
    cursor: pointer;
    border: none;
  }
  
  .toggleButton:hover {
    background-color: rgb(130, 128, 128);
  }
  
  .filters {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .inputField {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .statistics {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
  }
  
  .statBox {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 200px;
  }
  
  .charts {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
  }
  
  .products {
    text-align: center;
  }
  
  .productList {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .productCard {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 150px;
  }
  
  .productImage {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
  }