.toggleButton {
    width: 35px;
    height: 35px;
    position: absolute;
    left: 15px;
    top: 15px;
    border-radius: 55px;
    background-color: #ecebeb;
    cursor: pointer;
    border: none;
}

.toggleButton:hover {
    background-color: rgb(130, 128, 128);
}

.menuList {
    list-style: none;
    padding: 0;
}

.menuItem {
    font-weight: 600;
    margin-bottom: 10px;
    cursor: pointer;
}

/* Main Content */
.container {
    margin-left: 21%;
    padding: 4%;
    width: 75%;
}

.header {
    color: red;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.formContainer {
    background: white;
    padding: 2%;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.formTitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 1%;
    margin: 2%;
}

.inputGroup {
    margin-bottom: 1.5%;
    margin: 1.5%;
    display: flex;
    flex-direction: column;
}

.inputLabel {
    font-weight: bold;
    margin-bottom: 0.5%;
}

.inputField {
    width: 100%;
    padding: 1%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.radioGroup {
    display: flex;
    gap: 2%;
    align-items: center;
}

.radioGroup label {
    display: flex;
    align-items: center;
    gap: 0.5%;
}

.buttonGroup {
    display: flex;
    gap: 1%;
    margin-top: 2%;
}

.button {
    background-color: #16a34a;
    color: white;
    padding: 1% 2%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.button:hover {
    background-color: #15803d;
}

.employeeList {
    margin-top: 2%;
}